<header>
  <div class="logo-placeholder">
    <div class="logo">
      <img src="../assets/images/logo.png" alt="" width="200px">
    </div>
    <h1>Good things happen when everything connects</h1>
  </div>
  <nav>
    <div class="nav-container container">
      <a class="nav-link" href="#home">Home</a>
      <a class="nav-link" href="#products">Products</a>
      <a  class="nav-link" href="#contact">Contact</a>
    </div>
  </nav>
</header>

<!-- hero image -->
<div class="hero" id="home">
  <div class="container">
    <h1 class="h1-small">COMMITTED TO QUALITY</h1><br>
    <h1 class="h1-big">EXPERIENCE VIABLE TECHNOLOGIES</h1>
  </div>
  <div class="anchor" id="products"></div>
</div>

<!-- end of hero image -->

<!-- Products -->
<br >
<div class="s-1">
  <h2>INVENTORY</h2>
  <p class="wrapper">The selection of products manufactured by Viable Technologies are not only of the highest quality, but are also available in a variety of options to ensure you find exactly what you’re looking for. With cutting-edge production technologies and a highly qualified team, we guarantee complete satisfaction.</p>
</div>
<div class="s-2">
  <div class="s-2-img"></div>
  <h3>SALES SAAS</h3>
</div>
<div class="s-3">
  <div class="s-3-img"></div>
  <h3>CLOUD STORAGE</h3>
</div>

<!-- end of Products -->
